<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zpi.mobiletoring"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".ConfigurationActivity" >
           
        </activity>
        
        <activity
            android:name=".TabHostActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="portrait"
            android:configChanges="orientation" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".VideoActivity"
            android:configChanges="orientation"	 
            />
        
        <activity android:name=".HelpActivity" />
        
        <receiver android:name=".SMSNotify">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>